@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Bem Vindo ao TaskMaster <i class="bi bi-card-checklist"></i></h1>
    <p class ="text-primary">Seu Gerenciador Personalizado de Tarefas</p>
</div>
